<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Добро пожаловать на наш сайт с играми! У нас вы найдете широкий выбор увлекательных игр различных жанров. Погрузитесь в мир виртуального развлечения прямо тут!"/>
    <meta name="yandex-verification" content="d9a2edb485c7d575" />
    <meta name="google-site-verification" content="XbNdHWtkzxaLtMHE1aPei_iefJWH32RQF22oz3Ou-LU" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="images/icon.svg" type="image/svg+xml">
    <title>Kostyrko Games</title>

        <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(94432024, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94432024" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>
    <div class="container">
        <div class="row">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom col-xs-12">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" style="padding-left: 15px;">
                  <img class="bi me-2" src="images/icon.png" width="40" height="40">
                  <span class="fs-4">Kostyrko Games</span>
                </a>
          
                <ul class="nav nav-pills">
                  <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Игры</a></li>
                </ul>
            </header>
        </div>
        <div class="row">
            <section class="col-xs-12">
                <div class="row">
                    <main class="col-md-8 col-lg-9">
                        <div class="card" style="width: 22rem;" >
                            <img src="images/nobik.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Сокровища небесного нубика</h5>
                              <p class="card-text">"Сокровища небесного нубика" - захватывающая аркадная игра, в которой вы будете вести героя по имени Нубик на его приключениях в облачном царстве. Вашей задачей будет помочь Нубику собирать драгоценные алмазы, которые падают с неба. Однако будьте осторожны, так как иногда среди блестящих камней могут упасть опасные динамиты!</p>
                              <a href="{{nobik}}" class="btn btn-primary">Играть</a>
                            </div>
                        </div>
                      </main>
                      <div class="col-md-4 col-lg-3">
                        <div class="row">
                          <aside class="col-sm-6 col-md-12">
                                
                          </aside>
                        </div>
                      </div>
                </div>
            </section>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="padding-left: 15px; bottom: 0%; height: 100%;">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary" style="font-size: 15px;">© 2023 Kostyrko Games</span>
                </div>
              </footer>
        </div>
    </div>
</body>
</html>